<!DOCTYPE html>

<html>

   <head>
      <title>Header Parser</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div id="main-container">
      <h2>Header Parser Microservice</h2>
     
      <div class="container">
        
        
        <p>
          Click on "Check Your Header Info" below to see basic info you are sending in your header to other websites.
        </p>
        
          <br>
  
        <input type="button" value="Check Your Header Info" onclick="window.open('https://chief-asiago.glitch.me/api/whoami')" />

        <br>
        <br>
        
        <p>
          Thanks and Enjoy
        </p>
        
        <p>
          Built by MStonehouse
        </p>
      </div>
      
    </div>
     
   </body>


</html>
